*{
  margin:0;
  padding:0;
  color: aliceblue;
  font-family: sans-serif;
}
body{
  background-color: #262626;
}
#root>div{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2{
  padding-top: 3px;
  color: #f9f4da;
}
div>p{
  margin-top: 10px;
  color: #8e8e8e;
  font-size: 1.1rem;
  margin-bottom: 40px;
}
section{
  height: 70px;
  
}
.gamewon{
 
  background-color: #10a95b;
  width: 350px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: #f9f4da;
}
.gamelost{
 
  background-color: #ba2a2a;
  width: 350px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #f9f4da;
 
}
.gamewon>p{
  color: #f9f4da;
  margin-bottom: 5px;
}
.gamelost>p{
  color: #f9f4da;
  margin-bottom: 5px;
}
.language{
  margin-top: 50px;
  height: 150px;
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.language>span{
  display: inline-block;
  height: 35px;
  width: 78px;
  margin: 5px;
  padding: 10px;
}
.word{
  display: flex;
}
.word>span{
  display: inline-block;
   height: 40px;
   width: 40px;
   margin-top: 20px;
   margin-right: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #323232;
   font-size: 1.25rem;
   border-bottom: 1px solid #f9f4da;
}
.word>span.wrongtext{
  color: #ec5d49
}
.keyboard{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  height: 100px;
}
.keyboard>button{
  height: 35px;
  width: 35px;
  margin: 3px;
  color: black;
  background-color: #fcba29;
  font-size: 1.15rem;
  cursor: pointer;
  border: 1px solid #d7d7d7;
  border-radius: 3px;  
}
.keyboard>button:disabled{
  cursor: none;
  opacity: 0.5;
}
.new-button{
  margin-top: 30px;
  height: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: black;
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  cursor: pointer;
}
button.correct{
  background-color: #10a95b;
}
button.wrong{
  background-color: #ec5d49;
}
.language>span.not_hit {
  border-radius: 3px;
    padding: 4.5px;
    position: relative;
}

.language>span.hit::before{
  content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}
.farewell{
  background-color: #7A5EA7;
  width: 350px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #f9f4da;
 
}
.correct{
  background-color:#7A5EA7;
  width: 350px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #f9f4da;
}
.correct>p{
  padding: 2px;
}
#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; 
}
